body {
    background-color: green;
}

h1 {
    color: silver;
    text-align : center;
}

p {
   font-family : "Times New Roman";
   font-size : 24px;
   color : silver;
}

.center{
    text-align : center;
}

.ridge {border-style: ridge}
